body {
    text-align: center;
}

Overskrift {font-weight: bold; font-size: 36px; color:red}

.image-container {
  position: relative;
  left: 40%;
  transform: translate(-60%, -50%);
}

img {
  position: absolute;
}
